---
import MainLayout from '../../layouts/main.astro';
import { TeamMember } from '../../components/TeamMember.tsx';
import joaorcampos from '../../images/team/joaorcampos.jpeg';
import josepereira from '../../images/team/josepereira.jpeg';
import placeholder from '../../images/team/placeholder.jpeg';
import nunolaranjeiro from '../../images/team/nunolaranjeiro.jpeg';
import saeidjavani from '../../images/team/saeidjavani.jpeg';
import joaoferreira from '../../images/team/joaoferreira.jpeg';
import diogoneves from '../../images/team/diogoneves.jpg';
import regina from '../../images/team/regina.jpg';
import hugo from '../../images/team/hugo.jpg'
---

<MainLayout content={{ title: 'Our Team | AI-augmented Secure Software Development' }}>
  <section class="container py-8 justify-items-center space-between">
    <h1 class="text-3xl font-bold mb-8">Principal Investigator</h1>
    <div class="flex justify-center">
      <TeamMember name="José D'Abruzzo Pereira" image={josepereira.src} linkedin="https://www.linkedin.com/in/jose-alexandre-dabruzzo-pereira/" googleScholar="https://scholar.google.com/citations?hl=en&user=ZPKlxFQAAAAJ" personalWebsite="https://www.cisuc.uc.pt/en/people/jose-pereira"/>
    </div>
    <h1 class="text-3xl font-bold mb-8 mt-16 "> PhD/Researchers</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
      <TeamMember name="João R. Campos" image={joaorcampos.src} linkedin="https://www.linkedin.com/in/jo%C3%A3o-r-campos-38876015a/" googleScholar="https://scholar.google.com/citations?user=_kcaqoEAAAAJ" personalWebsite="https://www.cisuc.uc.pt/en/people/joao-campos" />
      <TeamMember name="Nuno Laranjeiro" image={nunolaranjeiro.src} googleScholar="https://scholar.google.com/citations?user=7XYIVVMAAAAJ&hl=en&oi=ao" personalWebsite="https://www.cisuc.uc.pt/en/people/nuno-laranjeiro"/>
      <TeamMember name="Regina Moraes" image={regina.src} googleScholar="https://scholar.google.pt/citations?user=yvfncXEAAAAJ&hl=pt-PT&oi=ao" personalWebsite="https://www.cisuc.uc.pt/en/people/r-moraes"/>
    </div>
    <h1 class="text-3xl font-bold mb-8 mt-16 ">PhD Students</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
      <TeamMember name="Saeid Javani" image={saeidjavani.src} linkedin={"http://www.linkedin.com/in/saeid-javani"} personalWebsite="https://www.cisuc.uc.pt/en/people/s-jananloo"/>
    </div>
    <h1 class="text-3xl font-bold mb-8 mt-16 ">M.Sc. Students</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
      <TeamMember name="Hugo Barros" image={hugo.src} linkedin={"https://www.linkedin.com/in/hugosbarros/"} />
      <TeamMember name="Simão Sousa" image={placeholder.src}  linkedin={"https://www.linkedin.com/in/simaosousa02/"}/>
      <TeamMember name="Bernardo Lopes" image={placeholder.src}  />
  
    </div>
    <h1 class="text-3xl font-bold mb-8 mt-16 ">B.Sc. Students</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
      <TeamMember name="João Ferreira" image={joaoferreira.src} />
      <TeamMember name="Diogo Neves" image={diogoneves.src} linkedin={"https://www.linkedin.com/in/diogo-cura-neves/"} />
    </div>
  </section>
</MainLayout> 